<nav>
        <span id="nav1" class="navi">Total Students </span>|<span id="nav2" class="navi"> Undergraduate </span>|<span id="nav3" class="navi"> Graduate </span>|<span id="nav4" class="navi"> Exchange</span>
</nav>
