<!-- <img src="/logo.png"> -->
<div id="wrap">
    <nav>
      <div id="nav1" class="nav_button">Total</div>
      <div id="nav2" class="nav_button">Undergraduate</div>
      <div id="nav3" class="nav_button">Graduate</div>
      <div id="nav4" class="nav_button">Exchange</div>
    </nav>
    <div id="map"></div>
    <div id="mapinfo" class="hidden"></div>
</div>

