<!-- <img src="/logo.png"> -->
<div id="wrap">
    <nav>
        <select name="view", id="view">
        <option id="nav1" class="nav_button">Total</option>
        <option id="nav2" class="nav_button">Undergraduate</option>
        <option id="nav3" class="nav_button">Graduate</option>
        <option id="nav4" class="nav_button">Exchange</option>
        </select>
    </nav>
    <div id="map"></div>
    <div id="mapinfo" class="hidden"></div>
</div>
