/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  margin: 0;
  background: #f7fcf5;
}

header {
  border-bottom: 5px solid black;
  background-color: rgb(37,90,60);
  padding: 25px;
}

footer {
  width: 100%;
  background-color: whiteSmoke;
  border-top: 1px solid #DDD;
  bottom: 0;
  position: absolute;
  text-align: center;
}

#htitle {
  color: #eee;
  font-family: 'Exo 2', sans-serif; font-weight: 700;
  font-size: 125%;
}

#ftitle {
  padding: 1%;
  font-family: 'Exo 2', sans-serif; font-weight: 300;
  font-size: 75%;
}

#wip {
  font-family: 'Exo 2', sans-serif; font-weight: 300;
  color: black;
}
