/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  font-size: 100%;
}
body {
  margin: 0;
  background: #f7fcf5;
  font-size: 18px;
  line-height: 26px;
}

h1,h2,h3,h4,h5,h6,p {
 font-family: inherit;
 font-size: inherit;
}
h1 {
 font-size: 4em;
 line-height: 1em;
}
h2 {
 font-size: 3em;
 line-height: 1em;
}

header {
  background-color: rgb(37,90,60);
  padding: 10px;
  box-shadow: 1px 1px 5px 2px black;
}

footer {
  font-family: 'Exo 2', sans-serif; font-weight: 300;
  font-size: 75%;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
}

#htitle {
  color: #eee;
  font-family: 'Exo 2', sans-serif; font-weight: 700;
  font-size: 125%;
}

#note {
  font-family: 'Exo 2', sans-serif; font-weight: 300;
  color: black;
  margin-left: 1%;
}

.hclass {
  display: inline-block;
  text-align: center;
}

#ftitle {
  padding: 1%;
  font-family: 'Exo 2', sans-serif; font-weight: 300;
  font-size: 75%;
}


