#wrap {
  width: 100%;
  margin: 0 auto;
  background: #f7fcf5;
  text-align: center;
}

/*NAVIGATION*/
.styled-select {
  margin: 0 auto;
  margin-top: 1%;
  width: 20%;
  overflow: hidden;
  background: url(/arrow.png) no-repeat right #ddd;
  border: 5px solid rgb(37,90,60);
}

.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 100%;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

/*#styled-select:hover {
  border-color: black;
}

#styled-select select:hover {
  cursor: pointer;
}
*/
/*MAP*/
#map {
  width: 100%;
  margin: auto;
}

/*TOOLTIP*/
#mapinfo {
  font-size: 18px;
  position: absolute;
  background: black;
  padding: 15px;
  border-radius: 5px;
  color: white;
  opacity: 0.85;
  box-shadow: 1px 1px 4px black;
  pointer-events: none;
}

#mapinfo.hidden {
  display: none;
}

/*CLEAR*/
.clear {
  clear: both;
}

