  #map {
  width:960px;
  height:430px;
  border: 2px solid black;
}

#mapinfo {
  position: absolute;
  border: 1px solid white;
  background: white;
  padding: 10px;
  border-radius: 2px;
  color: black;
  pointer-events: none;
}

#mapinfo.hidden {
  display: none;
}
