#wrap {
  width: 100%;
  margin: 0 auto;
  background: #f7fcf5;
  text-align: center;
}

/*NAVIGATION*/
nav {
  font-family: 'Exo 2', sans-serif;
  padding-top: 1%;
}

#nav1 {
  font-weight: 500;
}

.navi {
  cursor: pointer;
  font-weight: 300;
}

.naviOn {
  text-decoration: underline;
  color: rgb(37,90,60);
}

/*MAP*/
#map {
  width: 100%;
  margin: auto;
}

/*TOOLTIP*/
#mapinfo {
  font-size: 18px;
  position: absolute;
  background: black;
  padding: 15px;
  border-radius: 5px;
  color: white;
  opacity: 0.85;
  box-shadow: 1px 1px 4px black;
  pointer-events: none;
}

#mapinfo.hidden {
  display: none;
}

/*CLEAR*/
.clear {
  clear: both;
}

