<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,700,500' rel='stylesheet' type='text/css'>
  <title>Babson. Visualized.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
    <div id="container">
        <header>
            <span id="htitle">Babson Fall 2013 by Home Location </span><span id="wip">a work in progress...</span>
        </header>
        <%= yield %>
        <footer>
            <div id="ftitle">Chandler Moisen for Babson College 2014</div>
        </footer>
    </div>
</body>
</html>
